<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Kelli<br /></h1></p>
      </header>
      <p>I'm a Research Scientist driven by a passion for extracting actionable insights from next-generation sequencing datasets. My background spans molecular biology, bioinformatics, microbiology, and marine biology, accompanied by a solid foundation in teaching and leadership. Recognized as an award-winning science communicator, I am eager to extend my skills into new realms of research and contribute my skills and knowledge to advance research in a dynamic scientific environment.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/Headshot.JPG" alt="" />
    </span>
  </section>
